{% extends 'base.html' %}

{% block body %}
<h2 class="m-5">結合分布作成</h2>
<div class="form">
    <form class="m-5" action="/result" method='GET'>
        <div class="form-group pb-3">
            <label for="band_width">帯域幅 : </label>
            <input type="text" class="form-control" name="band_width" aria-describedby="title-help">
            <small id="title-help" class="form-text text-muted">To doを入力してください。</small>
        </div>
        <div class="form-group pb-3">
            <label for="pdf">確率分布 : </label>
            <input type="text" class="form-control" name="pdf">
        </div>
        <!--div class="form-group pb-3">
            <label for="due">Due : </label>
            <input type="date" name="due" required>
        </div-->
        <a class="btn btn-outline-primary" href="/" role="button">Return</a>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>

{% endblock %}